element.style {
    height: 170px;
    background-color: rgba(10, 135, 173, 0.933);
}
body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
}
.wpb_wrapper{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.mkdf-grid{
    margin-left: 18%;
}
.entry-title, .wpb_wrapper .block, .sub-title{
    color: #747070;
}
.text-block{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 20px;
    font-family: sans-serif;

}
.text-block .text{
    margin-top: 1%;
    margin-bottom: 1%;

}
.mkdf-title-holder {
    height: 240px;
    background-color: #bfd1e9;
    background-position: center 0;
    background-repeat: no-repeat;
    z-index: 101;
}
.mkdf-title-holder, .mkdf-title-holder.mkdf-title-full-width .mkdf-grid {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.mkdf-title-holder .mkdf-title-wrapper {
    position: relative;
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}
.mkdf-title-holder .mkdf-title-inner {
    position: relative;
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}
.mkdf-container-inner, .mkdf-grid, .mkdf-row-grid-section {
    width: auto !important;
    padding: 0px 20px !important;
}
.mkdf-title-holder.mkdf-standard-type .mkdf-page-title {
    margin: 0;
}
:root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
}
.mkdf-container {
    padding: 0;
    width: 100%;
}
.mkdf-container, .mkdf-full-width {
    z-index: 100;
    position: relative;
}
.elementor-widget-wrap>.elementor-element.mkdf-row-grid-section, .mkdf-container-inner, .mkdf-grid, .mkdf-row-grid-section {
    width: 420px;
}
.mkdf-grid-row {
    margin-left: -15px;
    margin-right: -15px;
}
.mkdf-grid-col-12 {
    width: 100%;
    float: none;
}
.mkdf-grid-col-1, .mkdf-grid-col-10, .mkdf-grid-col-11, .mkdf-grid-col-12, .mkdf-grid-col-2, .mkdf-grid-col-3, .mkdf-grid-col-4, .mkdf-grid-col-5, .mkdf-grid-col-7, .mkdf-grid-col-8, .mkdf-grid-col-9 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    box-sizing: border-box;
}
.vc_row {
    margin-left: -15px;
    margin-right: -15px;
}
.vc_col-lg-1, .vc_col-lg-10, .vc_col-lg-11, .vc_col-lg-12, .vc_col-lg-2, .vc_col-lg-3, .vc_col-lg-4, .vc_col-lg-5, .vc_col-lg-6, .vc_col-lg-7, .vc_col-lg-8, .vc_col-lg-9, .vc_col-md-1, .vc_col-md-10, .vc_col-md-11, .vc_col-md-12, .vc_col-md-2, .vc_col-md-3, .vc_col-md-4, .vc_col-md-5, .vc_col-md-6, .vc_col-md-7, .vc_col-md-8, .vc_col-md-9, .vc_col-sm-1, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9, .vc_col-xs-1, .vc_col-xs-10, .vc_col-xs-11, .vc_col-xs-12, .vc_col-xs-2, .vc_col-xs-3, .vc_col-xs-4, .vc_col-xs-5, .vc_col-xs-6, .vc_col-xs-7, .vc_col-xs-8, .vc_col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.vc_column_container {
    width: 100%;
}
.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}